body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 20px auto;
    width: 600px;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header{
 padding: 20px;
 border-bottom: 1px solid #444;
}

h1 {
    color: firebrick;
    font-size: 20px;
    text-align: center;
}

h2 {
    color: rgb(165, 79, 79);
    font-size: 18px;
    text-align: center;
}

.br {
    height: 1px;
    background-color: olive;
    width: 100%;
}

.basket-item, .catalog-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.basket-form {   
    padding: 20px;
    border-top: 1px solid #444;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket-form__input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 20px;
}

.basket-form__btn{
    width:  50px;
    height: 50px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 30px;
    color: #ccc;
}

.basket-out, .basket-empty {
    text-align: center;
}

.catalog-price {
    display: flex;
}

footer {
    margin-left: 20px;
}

.basket-list {
    display: flex;
    display: none;
    flex-direction: column;
}

.basket-list-close, .basket-list-open, .comments, .address, .basket-next-btn {
    display: none;
    margin-left: 10px;
};

.popup {
    width: 700px;
    height: 500px;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 6px;
    position: fixed;
    top: 100px;
    left: calc(50% - 350px);
};